.container{margin-bottom: 100px;}
.st1{padding: 20px 40px;}
body{background-position: left center;background-image: url("bg-2.png");background-repeat: no-repeat;}
.gg{height: 420px;}
.er{margin-left: 1000px;color: #FF9D00;}
.gx{margin-bottom: 100px;}
.hlw{margin-top: 50px;}
.ninja{padding: 50px;}
.ff{border: 1px solid rgb(207, 22, 22);}
.ers{margin-left: 1100px;color: #FF9D00;}
.cat{text-align: center;}
.it{background-color: #FF9C35;width: 135px;height: 9px;border-radius: 10px;margin-left: 580px;}



